.centerContent {
	min-height: 500px;
}

.footer {
	background: #eee;
	padding: 25px 0 15px;
	margin-top: 30px;
}

.workTitle {
	color: #ccc;
	border-bottom: 1px solid #bbb;
}



/***  Letter  ***/

.letterApp .jumbotronBox {
	background: #B0E0E6;
	padding: 10px;
	display: none;
}

.letterApp .afterFirst {
	display: none;
}

/***  End of Letter  ***/



/***  Newlife  ***/

.removeItem {
	cursor: pointer;
}

.prependText {
	border: 1px solid #aaa;
	border-radius: 5px;
}

.prependText div {
	border: 1px solid #bbb;
	margin: 5px 1px;
	padding: 5px;
}

/***  End of Newlife  ***/